@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(13, 13, 13);
}

@mixin container-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}

header {
  width: 100%;
  background-color: black;
  min-height: 120px;
  padding-top: 10px;
  .container {
    @include container-flex;

    nav {
      display: flex;
      align-items: center;
      gap: 100px;
    }

    nav ul {
      color: white;
      list-style: none;
      display: flex;
      gap: 24px;
      font-size: 18px;
      font-weight: 400;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 30px;

      button {
        width: 232px;
        height: 70px;
        border-radius: 35px;
        border: none;
        font-size: 18px;
        font-weight: 500;
        background-color: white;
        color: black;
        transition: 0.3s;
      }

      button:hover {
        opacity: 0.9;
      }
    }
  }
  @media (max-width: 500px) {
    .container {
      display: none;
    }
  }
}

// ------section-laptop ------
.section-laptop {
    width: 100%;
    background-image: url(./img/back-lap.png);
    background-position: center;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        max-width: 1120px;
        padding-top: 100px;
        margin: auto;
        display: block;
        justify-content: space-around;
        h1 {
        color: white;
        font-size: 80px;
        line-height: 90px;
      }
      p {
        color: white;
        padding-top: 10px;
        line-height: 30px;
        font-weight: 300;
      }

      button {
        width: 300px;
        margin-top: 30px;
        height: 60px;
        border: none;
        color: black;
        background-color: white;
        font-size: 20px;
        font-weight: 800;
        border-radius: 30px;
        transition: 0.2s;
        transition: 0.3s;
      }

      button:hover {
        opacity: 0.8;
      }

    }
}

.mobile-header {
  display: none;
}

// Mobile version --------

@media (max-width: 500px) {
  header {
    display: none;
  }
  .section-laptop {
    display: none;
  }
  .mobile-header {
    display: block;
    background-image: url(./img/back.png);
    background-size: cover;
    height: 700px;

    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;

    .logo {
      position: absolute;
      left: 35%;
      top: 40px;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 160px;
    }

    .content {
      padding-top: 40px;
      h1 {
        color: white;
        font-size: 40px;
        line-height: 60px;
      }
      p {
        color: white;
        padding-top: 10px;
        line-height: 30px;
        font-weight: 300;
      }

      button {
        width: 100%;
        margin-top: 30px;
        height: 60px;
        border: none;
        color: black;
        background-color: white;
        font-size: 20px;
        font-weight: 800;
        border-radius: 30px;
        transition: 0.2s;
      }
      button:active {
        opacity: 0.8;
      }
    }
  }
}

// ------section-2 -- ------

.section-2 {
    width: 100%;

    @media (max-width: 500px) {
        .container{
            flex-direction: column;

            .twice {
                flex-direction: column;

                .p-2 {

                    br {
                        display: none;
                    }

                }
                .cook {
                    position: relative;
                    max-width: 360px;
                    overflow: hidden;


                }

                .absalute {
                    position: absolute;


                }
                
            }
        }
        
    }

    .container{
        max-width: 1120px;
        color: white;
        margin: auto;
        text-align: center;


        h1 {
            margin-bottom: 30px;
            font-size: 50px;
            margin-top: 80px;
        }

        .p-1 {
            line-height: 30px;
        }

        .twice {
            display: flex;
            justify-content: center;
            gap: 87px;
            align-items: center;

            padding-top: 70px;

            .p-2 {
                text-align: center;
                line-height: 23px;
                font-weight: 200;
            }

            .absalute {
                // margin-left: 200px;
                z-index: 999;
                background-color: white;
                width: 70px;
                height: 70px;
                display: grid;
                place-items: center;
                right: 265px;
                border-radius: 50%;
            }
            .absalute img{
                width: 30px;
                margin-left: 6px;

            }

            img {
                width: 430px;
                border-radius: 8px;
            }
        }
    }
}
